<h1>create snippet</h1>

<form method="post" action="/snippets/edit/{{locals.id}}" class="snippet">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <label for="id">ID:</label>
    <input type="text" name="id" value="{{locals.id}}" readonly></input>
    <label for="id">Author:</label>
    <input type="text" name="author" value="{{locals.author}}" readonly></input>
    <label for="title">title:</label>
    <input type="text" name="title" placeholder="Snippet title" value="{{locals.title}}"></input>
    <label for="code">code:</label>
    <textarea name="code" placeholder="Snippet code" rows="20">{{locals.code}}</textarea>
    <button type="submit">Submit</button>
</form>
<a class="btn" href="/snippets/">CANCEL</a>