<h1>snippets</h1>

<p>
    here be snippets
</p>

<div class="snippets-list">
    {{#if locals.snippetItems.length }}
        {{#each locals.snippetItems}}
            <div class="snippet-item">
                <div>
                    <span class="id">{{this.id}}</span>
                    <span class="title">{{this.title}}</span>
                    <span class="code">{{this.code}}</span>
                    <span class="author">{{this.author}}</span>
                </div>
                <div>
                    <a href="/snippets/edit/{{this.id}}">edit</span></a>
                    <a href="/snippets/delete/{{this.id}}">delete</span></a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>no snippets yet...</p>>
    {{/if}}
</div>