<h1>snippets</h1>

<p>
    here be snippets
</p>

<div class="snippets-list">
    {{#if locals.snippetItems.length }}
        {{#each locals.snippetItems}}
            <div class="snippet-item">
                <div>
                    <span class="date">date created: {{this.dateCreated}}</span>
                </div>
                <div>
                    <span class="date">date modified: {{this.dateUpdated}}</span>
                </div>
                <div>
                    <p class="id">ID: {{this.id}}</p>
                    <p class="title">Title: {{this.title}}</p>
                    <p class="code">{{this.code}}</p>
                    <p class="author">Author: {{this.author}}</p>
                </div>
                {{#if ../user}}
                    <div>
                        <a class="btn" href="/snippets/edit/{{this.id}}">edit</span></a>
                        <a class="btn" href="/snippets/delete/{{this.id}}">delete</span></a>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        <p>no snippets yet...</p>
    {{/if}}
</div>